/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Fonts
*  2.0 - Reset
*  3.0 - Globals
*  4.0 - Main
*     4.1 - Grid
*     4.2 - Flex
*/

/******************** 1.0 - Fonts ********************/
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/******************** 2.0 - Reset ********************/
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  font-size: 62.5%;
}
/******************** 3.0 - Globals ********************/
body {
  /* font-family: 'Poppins', sans-serif; */
  font-family: 'Source Sans Pro', sans-serif;
  /* font-size: 100%; */
  font-size: 1.5rem;
  margin: 10px;
  text-align: center;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 1px 2px #d13109, 0 0 1em #53433e, 0 0 0.2em #53433e;
  margin: 30px;
  animation: fade 2.5s ease;
  letter-spacing: 15px;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  letter-spacing: 3px;
  background: linear-gradient(to right, #d13109, #290a02);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin-bottom: 10px;
  animation: drop 2s ease;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}
/******************** 4.0 - Main ********************/
/******************** 4.1 - Grid ********************/
#grid-floats {
  /* margin: 10px; */
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 20px;
  list-style-type: none;
}
.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  /* grid-column: span 1; */
}
.grid-item h3 {
  position: relative;
}
.grid-item h3::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #d13109;
  visibility: hidden;
  transform: scaleX(0);
  /* https://www.w3schools.com/cssref/css3_pr_transform.asp */
  transition: all 0.3s ease-in-out 0s;
  /* https://www.w3schools.com/css/css3_transitions.asp */
}
.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  cursor: pointer;
  /* transform: translateY(-10px); */
}
.grid-item:hover h3::before {
  visibility: visible;
  transform: scaleX(1);
  /* https://www.w3schools.com/cssref/css3_pr_transform.asp */
}
.grid-item p {
  text-align: justify;
}
.grid-item p::first-letter {
  font-weight: 500;
  font-size: 2rem;
  padding-left: 20px;
}
.grid-item img {
  filter: drop-shadow(0px 5px 3px black);
  width: 100%;
}
#grid-floats li:nth-child(1) {
  background: #f4f4f4;
  animation: drop 1.5s ease;
}
#grid-floats li:nth-child(2) {
  background: #f4f4f4;
  animation: drop 1.5s ease;
}
#grid-floats li:nth-child(2) p {
  text-align: right;
}
#grid-floats li:nth-child(2) p::first-letter {
  font-weight: 400;
  font-size: 1rem;
  padding-left: 0px;
  padding-right: 20px;
}
@media screen and (min-width: 600px) {
  body {
    font-size: 1.6rem;
    text-align: left;
  }
  h2 {
  }
  #grid-floats {
    grid-template-columns: repeat(6, 1fr);
  }
  .grid-item {
    grid-column: span 2;
  }
  #grid-floats li:nth-child(1) {
    grid-column: span 3;
  }
  #grid-floats li:nth-child(2) {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.7rem;
    text-align: left;
  }
  h2 {
  }
  #grid-floats {
    /* grid-template-columns: 1fr 1fr 1fr 1fr; */
    grid-template-columns: repeat(4, 1fr);
  }
  .grid-item {
    grid-column: span 1;
  }
  #grid-floats li:nth-child(1) {
    grid-column: 1/3;
  }
  #grid-floats li:nth-child(2) {
    grid-column: 3/5;
  }
}
@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
/******************** 4.2 - Flex ********************/
#grid-flex {
  display: flex;
  flex-direction: column;
}
