/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Fonts
*  2.0 - Reset
*  3.0 - Globals
*  4.0 - Main
*     4.1 - Animation
*     4.2 - Float
*     4.3 - Flex
*     4.4 - Grid
*     4.5 - Same class for all sections
*     4.6 - Media query for Float and Flex
*/

/******************** 1.0 - Fonts ********************/

/* https://visme.co/blog/pairing-fonts/ */
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');

/******************** 2.0 - Reset ********************/

* {
  margin: 0;
  padding: 0;
  /* https://www.w3schools.com/css/css3_box-sizing.asp */
  box-sizing: border-box;
}
:root {
  /* https://medium.com/code-better/css-units-for-font-size-px-em-rem-79f7e592bb97 */
  font-size: 62.5%;
}
@media screen and (min-width: 1920px) {
  :root {
    /* https://css-tricks.com/viewport-sized-typography/ */
    font-size: 0.5vw;
  }
}

/******************** 3.0 - Globals ********************/

body {
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 1.5rem;
  margin: 10px auto;
  text-align: center;
  max-width: 1920px;
  padding: 20px;
}
h1 {
  font-family: 'Poppins', sans-serif;
  font-size: 4em;
  text-align: center;
  text-shadow: 1px 1px 2px #d13109, 0 0 1em #53433e, 0 0 0.2em #53433e;
  margin-top: 30px;
  animation: fade 2.5s ease;
  letter-spacing: 15px;
}
h2 {
  font-family: 'Poppins', sans-serif;
  font-size: 3em;
  letter-spacing: 3px;
  background: linear-gradient(to right, #290a02, #d13109);
  display: inline-block;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  margin: 60px 0px 30px 0px;
  animation: drop 2s ease;
}
h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  font-size: 1.5em;
}

/******************** 4.0 - Main ********************/

/******************** 4.1 - Animation ********************/

@keyframes drop {
  0% {
    opacity: 0;
    transform: translateY(-80px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes fade {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

/******************** 4.2 - Float ********************/

#grid-floats {
  /* width: 100%; */
  list-style-type: none;
}
#grid-floats .grid-item {
  float: left;
}
/******************** 4.3 - Flex ********************/

#grid-flex {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 600px) {
  #grid-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1024px) {
  #grid-flex {
    flex-direction: row;
    flex-wrap: wrap;
  }
}

/******************** 4.4 - Grid ********************/

#grid-grid {
  display: grid;
  width: 100%;
  grid-template-columns: 1fr;
  column-gap: 20px;
  row-gap: 20px;
  list-style-type: none;
}

@media screen and (min-width: 600px) {
  #grid-grid {
    grid-template-columns: repeat(6, 1fr);
  }
  #grid-grid .grid-item {
    grid-column: span 2;
    width: 100%;
    margin: 0px;
    height: 100%;
  }
  #grid-grid li:nth-child(1) {
    grid-column: span 3;
  }
  #grid-grid li:nth-child(2) {
    grid-column: span 3;
  }
}
@media screen and (min-width: 1024px) {
  #grid-grid {
    grid-template-columns: repeat(4, 1fr);
  }
  /* grid-template-columns: 1fr 1fr 1fr 1fr; */
  #grid-grid .grid-item {
    grid-column: span 1;
    width: 100%;
    margin: 0px;
    height: 100%;
  }
  #grid-grid li:nth-child(1) {
    grid-column: 1/3;
  }
  #grid-grid li:nth-child(2) {
    grid-column: 3/5;
  }
}

/******************** 4.5 - Same class for all sections ********************/

.grid-item {
  border: 1px solid #ccc;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin: 0.5% 0.5%;
  overflow: hidden;
}
.grid-item h3 {
  position: relative;
}
.grid-item h3::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  bottom: -2px;
  left: 0;
  background-color: #d13109;
  visibility: hidden;
  /* https://www.w3schools.com/cssref/css3_pr_transform.asp */
  transform: scaleX(0);
  /* https://www.w3schools.com/css/css3_transitions.asp */
  transition: all 0.3s ease-in-out 0s;
}
.grid-item:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  background-color: #f1f1f1;
  cursor: pointer;
}
.grid-item:hover h3::before {
  visibility: visible;
  /* https://www.w3schools.com/cssref/css3_pr_transform.asp */
  transform: scaleX(1);
}
.grid-item p {
  text-align: justify;
}
.grid-item p::first-letter {
  font-weight: 500;
  font-size: 2em;
  padding-left: 20px;
}
.grid-item img {
  filter: drop-shadow(0px 5px 3px black);
  width: 100%;
}
li:nth-child(1) {
  background: #f4f4f4;
  animation: drop 1.5s ease;
}
li:nth-child(2) {
  background: #f4f4f4;
  animation: drop 1.5s ease;
}
li:nth-child(2) p {
  text-align: right;
}
li:nth-child(2) p::first-letter {
  font-weight: 400;
  font-size: 1em;
  padding-left: 0px;
  padding-right: 20px;
}

/******************** 4.6 - Media query for Float and Flex ********************/

@media screen and (min-width: 600px) {
  body {
    font-size: 1.6rem;
    text-align: left;
  }
  .grid-item {
    width: 32.33%;
    /* height: calc(1vw * 500); */
    height: 600px;
  }
  li:nth-child(1) {
    width: 49%;
    height: 500px;
  }
  li:nth-child(2) {
    width: 49%;
    height: 500px;
  }
}
@media screen and (min-width: 1024px) {
  body {
    font-size: 1.7rem;
    text-align: left;
  }
  .grid-item {
    width: 24%;
    height: 550px;
  }
  li:nth-child(1) {
    width: 49%;
    height: 850px;
  }
  li:nth-child(2) {
    width: 49%;
    height: 850px;
  }
}
