/* 
*  CSS TABLE OF CONTENTS
*   
*  1.0 - Fonts
*  2.0 - Reset
*  3.0 - Globals
*  4.0 - Header
*     4.1 - Top Alert
*     4.2 - Navbar
*  5.0 - Main
*  6.0 - Buttons
*  7.0 - Footer
*  8.0 - Media Query
*
*/

/******************** 1.0 - Fonts ********************/

/* https://www.w3schools.com/css/css3_fonts.asp */
@font-face {
  font-family: Fakt;
  src: url(../fonts/FaktPro-Normal.woff);
}

@font-face {
  font-family: Fakt;
  src: url(../fonts/FaktPro-SemiBold.woff);
  font-weight: bold;
}

@font-face {
  font-family: Fakt;
  src: url(../fonts/FaktPro-NormalItalic.woff);
  font-style: italic;
}

@font-face {
  font-family: Fakt-Blond;
  src: url(../fonts/FaktPro-Blond.woff);
}

@font-face {
  font-family: Fakt-Blond;
  src: url(../fonts/FaktPro-BlondItalic.woff);
  font-style: italic;
}

/******************** 2.0 - Reset ********************/

* {
  margin: 0;
  padding: 0;
  /* https://www.w3schools.com/css/css3_box-sizing.asp */
  box-sizing: border-box;
}
:root {
  /* https://medium.com/code-better/css-units-for-font-size-px-em-rem-79f7e592bb97 */
  font-size: 62.5%;
}

/******************** 3.0 - Globals ********************/

body {
  font-family: 'Fakt', sans-serif, Helvetica, Arial;
  font-size: 1.5rem;
  color: #00112c;
}

p {
  font-family: 'Fakt-Blond', sans-serif, Helvetica, Arial;
}

h1 {
  font-size: 6.4rem;
  line-height: 74px;
}
h2 {
  font-size: 4.9rem;
  line-height: 59px;
}
h3 {
  font-size: 3.2rem;
  line-height: 42px;
}
h4 {
  font-size: 2.1rem;
  line-height: 31px;
}
h5 {
  font-size: 1.9rem;
  line-height: 29px;
}
h6 {
  font-size: 1.6rem;
  line-height: 26px;
}
.section-gray {
  background-color: #f3f6f9;
}
.section-dark-blue,
.footer-dark-blue {
  /* background-color: #031033; */
  background-color: #00112c;
}
.section-green {
  background-color: #0abf53;
}
/******************** 4.0 - Header ********************/

/******************** 4.1 - Top Alert ********************/

.alert-adyen-top {
  background-image: linear-gradient(45deg, #00112c 0%, #001e4c 100%);
  color: #fff;
  margin-bottom: 0px;
  border-radius: 0%;
  cursor: default;
  padding: 17px;
  font-size: 1.3rem;
  text-align: start;
}
.alert-adyen-top p {
  margin-bottom: 0px;
}
.alert-adyen-top a {
  text-decoration: none;
  font-weight: 600;
  color: #0abf53;
  cursor: pointer;
}
.alert-adyen-top a:hover {
  border-bottom: 1px solid #0abf53;
}
.alert-adyen-top a::after {
  margin-left: 4px;
  content: '\203A';
}
.btn-close {
  background: url(../images/close.svg);
  background-repeat: no-repeat;
  background-size: 10px 10px;
  background-position: center;
}

/******************** 4.2 - Navbar ********************/

.navbar-brand img {
  width: 10rem;
}
.navbar-toggler-icon {
  background-image: url(../images/hamburger-menu.svg) !important;
}
.navbar-toggler-icon:focus {
  /* this line does not work */
  border: 1px solid transparent !important;
}
.navbar {
  font-size: 1.6rem;
  padding: 0px;
  align-items: flex-start;
}
.navbar-nav {
  height: 100%;
}
.nav-link {
  color: #00112c !important;
  /* border-top: 4px solid transparent; */
}
.dropdown-toggle::after {
  border: none;
  vertical-align: unset;
  content: '\f107';
  font-family: 'Font Awesome 5 Free';
  font-weight: 600;
}
.dropdown-menu {
  font-size: 0.9em;
}
.dropdown-item:active {
  background-color: #0abf53;
}
.navbar-toggler:focus {
  box-shadow: unset;
}
/* https://bootstrap-menu.com/detail-animation.html */
.navbar .nav-item .dropdown-menu {
  opacity: 0;
  visibility: hidden;
  transition: 0.3s;
  margin-top: 0;
}
.navbar .nav-item:hover .nav-link {
  color: #fff;
}
.navbar .dropdown-menu.fade-down {
  top: 80%;
  transform: rotateX(-75deg);
  transform-origin: 0% 0%;
}
.navbar .dropdown-menu.fade-up {
  top: 180%;
}
.navbar .nav-item:hover .dropdown-menu {
  transition: 0.3s;
  opacity: 1;
  visibility: visible;
  top: 100%;
  transform: rotateX(0deg);
}
/******************** 5.0 - Main ********************/

.img-dashboard {
  box-shadow: 0 25px 50px 0 rgba(0, 0, 0, 0.05);
  max-width: 100%;
  height: auto;
}

/******************** 6.0 - Buttons ********************/

.btn-ayden-success {
  background-color: #0abf53;
  border-color: #0abf53;
  font-size: 1.6rem;
  font-weight: 700;
}
.btn-ayden-success:hover {
  background-color: #078f3e;
  border-color: #078f3e;
}
.btn-ayden-dark-blue {
  background-color: #00112c;
  border-color: #00112c;
  font-size: 1.6rem;
  font-weight: 700;
}
.btn-ayden-dark-blue:hover {
  background-color: #1b2b44;
  border-color: #1b2b44;
}
.btn-link-ayden-success {
  color: #0abf53;
  border: 1px solid transparent;
  background-color: transparent;
  font-weight: 600;
  transition: all 0.2s ease-in-out;
}
.btn-link-ayden-success:hover {
  border-bottom: 1px solid #0abf53;
}
.link-ayden-success {
  color: #0abf53;
  text-decoration: none;
}
.link-ayden-success:hover {
  color: #078f3e;
}
.btn-play-video {
  border: transparent;
  background-color: transparent;
  color: #0abf53;
  background-image: url(../images/video-play-icon-green.svg);
  background-repeat: no-repeat;
}
.btn-play-video:hover {
  background-image: url(../images/video-play-icon-green-hover.svg);
}

/******************** 7.0 - Footer ********************/

.site-map-footer a,
.copyright-footer a {
  color: white;
  text-decoration: none;
  font-family: 'Fakt-Blond', sans-serif, Helvetica, Arial;
  font-size: 1.1em;
}
.site-map-footer a:hover,
.copyright-footer a:hover {
  text-decoration: underline;
}
.site-map-footer li {
  margin: 10px 0px;
}
.language-change {
  text-align: start;
}
.input-group input[type='email'] {
  height: 50px;
}
.input-group input[type='email']:focus {
  border: 2px solid #0abf53;
}
.input-group button[type='submit'] {
  height: 50px;
  width: 50px;
}

/******************** 8.0 - Media Query ********************/

@media screen and (min-width: 575px) {
  .alert-adyen-top {
    text-align: center;
    font-size: 1.5rem;
  }
  .language-change {
    text-align: end;
  }
}
@media screen and (min-width: 768px) {
  .img-dashboard {
    max-width: unset;
  }
}
@media screen and (min-width: 1200px) {
  .nav-link {
    color: #00112c !important;
    border-top: 4px solid transparent;
  }

  .nav-link:hover,
  .nav-link.active {
    border-top: 4px solid #0abf53;
  }

  .navbar .nav-item .dropdown-menu {
    display: block;
  }
}
